<section class="reg-col">
  <div class="blur-col">
    <!---------- title and logo ------------>
    <div class="title-menu" style="padding-top: 12px">
      <%= image_tag('globe.jpg') %>
      <h2 style="color: #ffffff">GlobeGrub</h2>
    </div>

    <!---------------- login title and form --------------->
    <main>
      <div class="reg-form-texture">
        <div class="texture-col">
          <h2 class="title">Sign up</h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
            </div>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", class: "btn-submit" %>
            </div>
          <% end %>
        </div>
      </div>
      <p class="text-swap">Already have an account? <%= render "devise/shared/links" %></p>
    </main>
  </div>
</section>