<section class="public-page">
  <div>
    <%= render 'shared/navbar' %>
  </div>

  <div class="main-page">
    <!---------- main list ------------->
    <div class="sub-page">
      <h2>My Public Recipes</h2>
      <!---------- recipe list ------------->
      <div class="list-item" style="height: 450px">
        <% if @recipes.empty? %>
          <div class="empty">
            <%= image_tag('notfound.svg') %>
            <span>No Public Recipes!!!</span>
          </div>
        <% else %>
          <% @recipes.each do |recipe| %>
            <div class="list-col">
              <div class="row">
                <p> <%= link_to recipe.name, recipe_path(recipe.id) %> </p>
                <span>By: <%= recipe.user.name %> </span>

                <% if user_signed_in? and recipe.user_id == current_user.id %>
                  <%= link_to recipes_path, class: 'btn-del', method: :delete do %>
                    <i class="fa-solid fa-trash"></i>
                    delete
                  <% end %>
                <% end %>
              </div>

              <div class="count">
                <span>Total food items: <%= recipe.recipe_foods.count %> </span>
                <span>Total price: $<%= @total %> </span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>