<section class="recipe-page">
  <div class="main-page">
    <div class="back-ico">
      <%= link_to authenticated_root_path do %>
        <i class="fa-solid fa-circle-arrow-left fa-2xl" style="color: #ffffff;"></i>
      <% end %>
    </div>
    <div class="new-texture">
      <div class="col-texture">
        <h2>New Recipe</h2>
        <%= form_with model: @recipe, url: recipes_path, scope: :recipe do |f| %>
          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
          </div>
          <div class="field">
            <%= f.label "Preparation time (in hours)" %><br />
            <%= f.number_field :prep_time, step: 0.5, autofocus: true, autocomplete: "prep_time" %>
          </div>
          <div class="field">
            <%= f.label "Cooking time (in hours)" %>
            <%= f.number_field :cooking_time, step: 0.5, autofocus: true, autocomplete: "cooking_time" %>
          </div>
          <div class="field">
            <%= f.label :description %>
            <%= f.text_field :description, autofocus: true, autocomplete: "description" %>
          </div>
          <div class="rem-field">
            <%= f.check_box :public %>
            <%= f.label :public %>
          </div>

          <div class="actions">
            <%= f.submit class: 'btn-submit' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>