<header>
  <nav>
    <!---------- application title and logo ------------>
    <div class="title-menu">
      <%= image_tag('globe.jpg') %>
      <h2>GlobeGrub</h2>
    </div>
    <!---------- desktop nav menu items ------------>
    <div class="nav-menu">
      <ul>
        <% if user_signed_in? %>
          <li> <%= link_to 'Public Recipe', public_recipes_path %> </li>
          <li> <%= link_to 'Recipes', recipes_path %> </li>
          <li> <%= link_to 'Foods', foods_path %> </li>
          <li> <%= link_to 'Inventories', inventories_path %> </li>
          <li> <%= link_to 'General Shopping', "" %> </li>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path %>
          <%= link_to 'Sign Up', new_user_registration_path %>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <div class="profile">
          <span>👋 Hello, <%= current_user.name %> </span>
          <%= link_to 'sign out', destroy_user_session_path, method: :delete, class: "btn-out" %>
        </div>
      <% end %>
    </div>

    <!-------------- menu icon ------------------>
    <div class="toggle-button menu-icon">
      <i class="fa-solid fa-bars fa-lg"></i>
    </div>
  </nav>
</header>