<nav data-controller="navbar">
  <!---------- desktop view ------------>
  <ul>
    <li id="logo-tag">
      <%= image_tag('globe.jpg') %>
      <h2>GlobeGrub</h2>
    </li>
    <% if user_signed_in? %>
      <li class="hideOnMobile"> <%= link_to 'Public Recipes', public_recipes_path %> </li>
      <li class="hideOnMobile"> <%= link_to 'Recipes', recipes_path %> </li>
      <li class="hideOnMobile"> <%= link_to 'Foods', foods_path %> </li>
      <li class="hideOnMobile"> <%= link_to 'Inventories', inventories_path %> </li>
      <li class="hideOnMobile" id="user-info">
        <span>👋 Hello, <%= current_user.name %> </span>
        <%= link_to 'sign out', destroy_user_session_path, method: :delete, class: "btn-out" %>
      </li>
      <li class="menu-button" data-action="click->navbar#toggle">
        <i class="fa-solid fa-bars fa-lg toggle-button"></i>
      </li>
    <% else %>
      <li> <%= link_to 'Sign In', new_user_session_path %> </li>
      <li> <%= link_to 'Sign Up', new_user_registration_path %> </li>
    <% end %>
  </ul>
  <!---------- mobile view (side bar section) ------------>
  <ul class="sidebar" id="navMenu">
    <li class="close-menu" data-action="click->navbar#toggle"> <i class="fa-regular fa-circle-xmark fa-xl"></i> </li>
    <li> <span>👋 Hello, <%= current_user.name %> </span> </li>
    <% if user_signed_in? %>
      <li> <%= link_to 'Public Recipes', public_recipes_path %> </li>
      <li> <%= link_to 'Recipes', recipes_path %> </li>
      <li> <%= link_to 'Foods', foods_path %> </li>
      <li> <%= link_to 'Inventories', inventories_path %> </li>
      <li> <%= link_to 'sign out', destroy_user_session_path, method: :delete, class: "btn-out" %> </li>
    <% end %>
  </ul>
</nav>